{% extends 'mainpage/layout.html' %}
{% load static %}

<!-- Заголовок страницы -->
{% block title %}Информация о разработчике{% endblock %}

{% block header %}Информация о разработчике{% endblock %}

{% block content %}
<h5>
  Меня зовут Владимир, и я начинающий, но очень амбициозный программист.
Я уверенно владею такими технологиями, как Python, C++ и C#, SQL
  а также имею опыт веб-разработки с использованием Django,
  HTML и CSS. Для меня важно писать не просто рабочий,
  а чистый и поддерживаемый код, поэтому я активно
  практикую написание Unit-тестов.
  Помимо технических навыков, я — невероятно трудолюбивый и
  целеустремленный человек. Я не боюсь сложных задач и уверен,
  что могу быстро влиться в рабочий процесс и начать приносить
  пользу. Я легко нахожу общий язык с людьми и искренне
  наслаждаюсь процессом усердной работы в команде,
  где мы вместе создаём что-то новое и полезное.
</h5>
{% endblock %}

