{% extends 'mainpage/layout.html' %}
{% load static %}

<!-- Заголовок страницы -->
{% block title %}Главная страница{% endblock %}

{% block header %}Лучшие альбомы по версии автора сайта{% endblock %}


{% block info %}
<h5>Этот сайт — личный дневник музыкальных открытий. Здесь вы найдете мои субъективные
рейтинги и мнения о тех альбомах, которые тронули меня больше всего. Я не претендую на звание эксперта и не пытаюсь навязать свою точку зрения.
Музыка — искусство глубоко субъективное, и то, что задевает струны моей души, может оставить вас равнодушным, и наоборот.
</h5>
{% endblock %}


{% block content %}
    <ul class="photo-list">
                <li class="photo-item1">
                    <img src="{% static 'mainpage/img/sss.jpg'%}" alt="Изображение 1">
                    <div class="text-content1">
                        <h3>Some Sexy Songs 4 U</h3>
                        <p>Some Sexy Songs 4 U (стилизовано как $ome $exy $ongs 4 U или $$$4U) — совместный студийный альбом канадских рэперов PartyNextDoor
                            и Дрейка, вышедший 14 февраля 2025 года с помощью лейблов OVO Sound, Santa Anna и Republic Records. В альбоме приняли участие Pim,
                            Chino Pacas[англ.] и Yebba[англ.]. Продюсированием занимались PartyNextDoor и часто сотрудничающие с Дрейком Noel Cadastre, Gordo,
                            Jordan Ullman и другие. Первоначально альбом был запланирован на осень 2024 года, но его выход несколько раз откладывался.
                            Он является продолжением их студийных альбомов PartyNextDoor 4[англ.]
                            (2024) и For All the Dogs (2023) и представляет собой третий совместный проект Дрейка и первый — PartyNextDoor.
                        </p>
                    </div>
                </li>
                <li class="photo-item2">
                            <img src="{% static 'mainpage/img/Dogs.jpg'%}" alt="Изображение 2">
                            <div class="text-content2">
                                <h3>For All the Dogs</h3>
                                <p>
                                    For All the Dogs — восьмой студийный альбом канадского рэпера Дрейка, вышедший 6 октября 2023 года на лейблах OVO Sound[англ.] и Republic Records.
                                    В альбоме приняли участие Teezo Touchdown, 21 Savage, J. Cole, Yeat, SZA, PartyNextDoor, Chief Keef, Бэд Банни, Sexyy Red и Lil Yachty. Он следует за двумя альбомами Дрейка, вышедшими в 2022 году: его седьмым сольным студийным альбомом Honestly, Nevermind и совместным
                                    студийным альбомом с 21 Savage под названием Her Loss.
                                    Продюсированием занимались сами Дрейк, Teezo Touchdown и Lil Yachty, а также 40, Sango, Oz, Bnyx, Southside, Boi-1da, Vinylz, Tay Keith, FnZ, Jahaan Sweet, а Screw[англ.] (посмертный сэмпл), Stwo, Gordo, Justin Raisen и другие. Альбому предшествовали два сингла, «Slime You Out» и «8AM in Charlotte», в первом из которых участвует SZA
                                </p>
                            </div>
                        </li>
                <li class="photo-item3">
                                    <img src="{% static 'mainpage/img/Love.jpg'%}" alt="Изображение 3">
                                    <div class="text-content3">
                                        <h3>Certified Lover Boy</h3>
                                        <p>
                                            1 мая 2020 года Дрейк сообщил, что скоро выйдет его микстейп под названием Dark Lane Demo Tapes, а также,
                                            что шестой студийный альбом выйдет летом 2020 года[8]. 24 октября, в 34-й день рождения Дрейка, он и его
                                            звукозаписывающий лейбл OVO Sound опубликовали короткое видео, в котором они объявили, что выпуска альбома перенесён на 2021 год.
                                            В видео есть отсылки к предыдущим альбомам и микстейпам Дрейка: So Far Gone (2009), Take Care (2011), Nothing Was the Same (2013) и
                                            Dark Lane Demo Tapes (2020)[1]. 5 марта 2021 года Дрейк выпустил мини-альбом под названием Scary Hours 2, он является сиквелом Scary Hours 2018 года. В релиз вошли 3 новые песни при участии Lil Baby и Рика Росса. В тот же день состоялась премьера видеоклипа на песню «What’s Next».
                                        </p>
                                    </div>
                                </li>
                <li class="photo-item4">
                                            <img src="{% static 'mainpage/img/Astro.jpg'%}" alt="Изображение 4">
                                            <div class="text-content4">
                                                <h3>Astroworld</h3>
                                                <p>
                                                    Astroworld — третий студийный альбом американского рэпера и продюсера Трэвиса Скотта, вышедший 3 августа 2018 года.
                                                    В записи альбома приняли участие многочисленные приглашённые певцы, включая таких как Кид Кади, Фрэнк Оушен, Дрейк,
                                                    Стиви Уандер, The Weeknd, Джеймс Блейк, 21 Savage, Quavo, Juice WRLD, Don Toliver и многие другие.
                                                    Диск получил положительные отзывы музыкальных критиков и сразу дебютировал на позиции № 1 в американском хит-параде Billboard 200.
                                                </p>
                                            </div>
                                        </li>
                <li class="photo-item5">
                                            <img src="{% static 'mainpage/img/DBR.jpg'%}" alt="Изображение 5">
                                            <div class="text-content5">
                                                <h3>Days Before Rodeo</h3>
                                                <p>
                                                   Days Before Rodeo — второй микстейп американского рэпера Трэвиса Скотта, вышедший 18 августа 2014 года независимо на SoundCloud.
                                                    Название микстейпа означает, что он служит приквелом к следующей работе артиста — альбому Rodeo. Включает в себя гостевые куплеты таких
                                                    исполнителей как: Young Thug, Big Sean, The 1975, Rich Homie Quan, Migos, T.I. и Pewee Longway.
                                                    К своему десятилетнему юбилею микстейп был выпущен на лейблах Cactus Jack и Epic Records на стриминговых сервисах 23 августа
                                                    2024 года[1]. Переиздание отличается ремастерингом инструментальных партий и лишено гостевого участия TI.
                                                    Цифровое делюкс-издание альбома доступно исключительно на сайте Скотта и включает пять дополнительных песен,
                                                    которые не попали в оригинальную версию.
                                                </p>
                                            </div>
                </li>


    </ul>
{% endblock %}

